.w{
    width: 990px;
    margin: 0 auto;
    position: relative;
}
.w .logo{
    margin: 10px 0;
    width: 300px;
    height: 60px;
    float: left;
    position: relative;
}
.logo .welcome{
    background: url(../images/logo_in/welcome.png);
    width: 110px;
    height: 40px;
    position: absolute;
    right: 0;
    bottom: 0;
}
.p_link_icon{
    background: url(../images/logo_in/q-icon.png);
    width: 18px;
    height: 14px;
    display: inline-block;
    overflow: hidden;
    vertical-align: middle;
    margin: 0 5px;
}
.p_link{
    display: block;
    float: right;
    position: relative;
    top: 52px;
    color: #999;
}
.tips_wrapper{
    padding: 10px 0 10px 0;
    background: #fff8f0;
    width: 100%;
    text-align: center
}
.login_wrapper{
    margin-bottom: 20px;
}
.login_wrapper .login_banner .w .logo_in{
    width: 346px;
    height: 400px;
    background: #FFF;
    position: absolute;
    right: 10px;
    top: 40px;
}
.login_wrapper .login_banner .w .logo_in .logo_tishi{
    padding: 10px 0;
    background: #fff8f0;
    width: 100%;
    text-align: center;
    
}
.login_wrapper .login_banner .w .logo_in .logo_tishi i{
    background: url(../images/logo_in/tishi.png);
    width: 16px;
    height: 16px;
    display: inline-block;
    vertical-align: middle;
}
.login_wrapper .login_banner .w .logo_in .logo_tishi p{
    display: inline-block;
    vertical-align: middle;
}
.login_wrapper .login_banner .w .logo_in .theway_login{
    width:100%;
    height: 53px;
    text-align: center;
    border-top: 1px solid #CCC;
    border-bottom: 1px solid #f4f4f4;
    line-height:53px;
}
.login_wrapper .login_banner .w .logo_in .theway_login span{
    font-size: 18px;
    font-weight: 900;
}
.login_wrapper .login_banner .w .logo_in .ifica_login {
    padding: 30px 20px;
}
.login_wrapper .login_banner .w .logo_in .ifica_login .username{
    width: 100%;
    height: 38px;
    margin-bottom: 20px;
}
.login_wrapper .login_banner .w .logo_in .ifica_login .username input{
    margin-left: 39px;
    width: 266px;
    height: 34px;
}

.login_wrapper .login_banner .w .logo_in .ifica_login .username .icon{
    width: 38px;
    height: 36px;
    background: url(../images/logo_in/pwd-icons-new.png);
    position: absolute;
    border: 1px solid #999;
    border-right: none;
}
.login_wrapper .login_banner .w .logo_in .ifica_login .upwd{
    width: 100%;
    height: 38px;
    margin-bottom: 20px;
}
.login_wrapper .login_banner .w .logo_in .ifica_login .upwd input{
    margin-left: 39px;
    width: 266px;
    height: 34px;
}

.login_wrapper .login_banner .w .logo_in .ifica_login .upwd .icon{
    width: 38px;
    height: 36px;
    background: url(../images/logo_in/pwd-icons-new.png);
    background-position: -48px 0;
    position: absolute;
    border: 1px solid #999;
    border-right: none;
}
.login_wrapper .login_banner .w .logo_in .ifica_login .forget_upwd{
    margin-bottom: 20px;
    text-align: right;
}
.login_wrapper .login_banner .w .logo_in .ifica_login .btnlogin{
    margin-bottom:10px;
}
.login_banner .w .logo_in .ifica_login .btnlogin .btn_wrap{
    width: 99%;
    border: 1px solid #cb2a2d;
    margin: 0 auto;
    height: 32px;
    position: relative;
}
.login_banner .w .logo_in .ifica_login .btnlogin .btn_wrap a{
    border: 1px solid #e85356;
    display: block;
    width: 302px;
    background: #e4393c;
    height: 31px;
    line-height: 31px;
    color: #fff;
    font-size: 20px;
    font-family: 'Microsoft YaHei';
    text-align: center;
}
.login_banner .w .logo_in  .coagent{
    height: 51px;
    padding: 0 20px;
    width: 306px;
    position: absolute;
    bottom: 0;
    background-color: #fcfcfc;
    margin: 0 auto;
    border-top: 1px solid #f4f4f4;
}
.login_banner .w .logo_in  .coagent .coagent_left{
    height:50px;
    line-height: 50px;
    float: left;
}
.login_banner .w .logo_in  .coagent .coagent_left a{
    float: left;
    display: block;
}
.login_banner .w .logo_in  .coagent .coagent_left a:first-child .icon_qq{
    background: url(../images/logo_in/QQ-weixin.png);
    width: 19px;
    height: 18px;
    display: inline-block;
    vertical-align: middle;
}
.login_banner .w .logo_in  .coagent .coagent_left a b{
    vertical-align: middle;
}
.login_banner .w .logo_in  .coagent .coagent_left .line-b{
    width: 1px;
    height: 14px;
    display: block;
    float: left;
    margin-top: 20px;
    z-index: 99;
    border-right: 1px solid #ccc;
    margin-left: 10px;
    margin-right: 10px;
}
.login_banner .w .logo_in  .coagent .coagent_left a:last-child .icon_qq{
    background: url(../images/logo_in/QQ-weixin.png);
    background-position: -20px 0;
    width: 19px;
    height: 18px;
    display: inline-block;
    vertical-align: middle;
}
.login_banner .w .logo_in  .coagent .coagent_right{
    float: right;
    line-height: 50px;
}
.login_banner .w .logo_in  .coagent .coagent_right .coagent_wrap a{
    font-size: 14px;
    color: #b61d1d;
}
.login_banner .w .logo_in  .coagent .coagent_right .coagent_wrap a .icon{
    background: url(../images/logo_in/pwd-icons-new.png)-104px -75px no-repeat;
    width: 16px;
    height: 16px;
    display: inline-block;
    vertical-align: middle;
}
.w .footer{
    text-align: center;
}
.w .footer .links{
    margin-bottom: 10px;
}
.w .footer .links a{
    margin: 0 10px;
}