.w{
    width: 990px;
    margin: 0 auto;
}
.w .logo{
    margin: 10px 0;
    width: 300px;
    height: 60px;
    float: left;
    position: relative;
}
.logo .welcome{
    background: url(../images/logo_in/welcome.png);
    width: 110px;
    height: 40px;
    position: absolute;
    right: 0;
    bottom: 0;
}
.p_link_icon{
    background: url(../images/logo_in/q-icon.png);
    width: 18px;
    height: 14px;
    display: inline-block;
    overflow: hidden;
    vertical-align: middle;
    margin: 0 5px;
}
.p_link{
    display: block;
    float: right;
    position: relative;
    top: 52px;
    color: #999;
}
.tips_wrapper{
    padding: 10px 0 10px 0;
    background: #fff8f0;
    width: 100%;
    text-align: center;

}
.content_warper{
    display: inline-block;
    width: 90%;
}
.warper_icon{
    background: url(//misc.360buyimg.com/user/passport/1.0.0/widget/login-form-2018-0827/i/icon-tips.png);
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: middle;
    margin-right: 5px;
}
.warper_title{
    vertical-align: middle;
    color: #999;
    font-size: 12px;
    display: inline-block;
}
.login_from{
    float: right;
    position: relative;
    top: 10px;
    background: #fff;
    z-index: 4;
    width: 346px;
    visibility: visible;
}
.login_tab{
    height: 54px;
    font-family: "microsoft yahei";
    /* text-align: center; */
    border-bottom: 1px solid #f4f4f4;
    position: absolute;
    background: #fff;
    display: block;
    width: 346px;
}
.login_tab_r{
    right: 0;
}
.login_tab .login_tab_link{
    width: 173px;
    height: 27px;
    border-right: 1px solid #f4f4f4;
    text-decoration: none;
    font-size: 18px;
    width: 1;
    text-align: center;
}
.login_tab_pos1{
    position: absolute;
    left: 0;
    top: 18px;
}
.login_tab_pos2{
    position: absolute;
    right: 0;
    top: 18px;
}

.login_tab .checked{
    font-weight: 700;
    color: #e4393c;
}
.qrcode-login{
    width: 306px;
    padding: 20px 18px 20px 20px;
    text-align: center;
}
.qrcode-main{
    position: relative;
    height: 168px;
    margin-top: 55px;
}
.qrcode-img{
    border: 1px solid #f4f4f4;
    padding: 8px;
    width: 155px;
    position: absolute;
    left: 64px;
}
.qrcode-help{
    position: absolute;
    right: -18px;
    top: -2px;
    width: 141px;
    height: 168px;
    background: url(//misc.360buyimg.com/user/passport/1.0.0/css/i/phone-orange.png) no-repeat;
    z-index: 99;
}
.qrcode-panel{
    width: 257px;
    margin: 18px auto 14px;
    text-align: center;
}
.qrcode-panel li{
    display: inline-block;
    padding: 0 0 0 5px;
    margin: 0 5px 0 0;
}
.login-form .qrcode-login .qrcode-panel a{
    color: #333;
    text-decoration: none;
    margin-left: -3px;
}
.red{
    color: #e4393c;
}
.qr-coagent{
    background-color: #fff;
    font-family: "microsoft yahei";
    color: #999;
    border: none;
    padding: 0;
    line-height: 25px;
    margin-left: 40px;
}
.qr-coagent ul{
    display: block;
}
.qr-coagent li{
    text-align: left;
    position: relative;
    margin-right: 18px;
}
.coagent li{
    float: left;
}
.qr-coagent li b{
    width: 25px;
    height: 25px;
    display: block;
    background: url(//misc.360buyimg.com/user/passport/1.0.0/widget/login-form-2018-0827/i/qr-coagent.png) no-repeat;
    margin: 0 auto;
    position: absolute;
    left: 0;
}

.qr-coagent li em{
    padding-left: 32px;
}
.qr-coagent li .faster {
    background-position: -27px;
}
.qr-coagent li b{
    width: 25px;
    height: 25px;
    display: block;
    background: url(//misc.360buyimg.com/user/passport/1.0.0/widget/login-form-2018-0827/i/qr-coagent.png) no-repeat;
    margin: 0 auto;
    position: absolute;
    left: 0;

}
.coagent_items{
    float: left;
    position: relative;
}
.login_theway{
    padding: 0 20px;
    height: 51px;
    width: 306px;
    border-top: 1px solid #f4f4f4;
    background-color: #fcfcfc;
    line-height: 51px;
}
.QQ_icon{
    width: 19px;
    height: 18px;
    display: block;
    background: url(//misc.360buyimg.com/user/passport/1.0.0/widget/login-form-2018-0827/i/QQ-weixin.png) no-repeat;
    margin: 0 auto;
    position: absolute;
    float: left;
    left: 0;
    top: 16px;
}
em{
    font-style: normal;
}
.pal{
    display: inline-block;
    position: relative;
    padding-left: 24px;
}
.coagent_items .line{
    padding: 0 10px;
    color: #ccc;
}
.weixin_icon{
    background-position: -20px 0;
}
.coagent_items .pal .weixin_icon{
    width: 19px;
    height: 18px;
    display: block;
    background: url(//misc.360buyimg.com/user/passport/1.0.0/widget/login-form-2018-0827/i/QQ-weixin.png) no-repeat;
    margin: 0 auto;
    position: absolute;
    float: left;
    left: 0;
    top: 16px;
    background-position: -20px 0;
}
.extra-r{
    float: right;
}
.regist-link{
    color: #b61d1d;
    font-size: 14px;
}
.regist-link a{
    color: #b61d1d;
}
.extra-r .regist-link b{
    display: inline-block;
    width: 16px;
    height: 16px;
    overflow: hidden;
    background: url(//misc.360buyimg.com/user/passport/1.0.0/widget/login-form-2018-0827/i/pwd-icons-new.png) -104px -75px no-repeat;
    vertical-align: middle;
    margin-right: 5px;
}
.cont_warpper p{
    color: #999;
    display: inline-block;
    vertical-align: middle;
}
.cont_warpper .icon_tips{
    background: url(//misc.360buyimg.com/user/passport/1.0.0/widget/login-form-2018-0827/i/icon-tips.png);
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: middle;
    margin-right: 5px;
}

.login_wrapper{
    margin-top: 0;
    position: relative;
    height: 475px;
    margin: 0 0 20px;
    z-index: 5;
}
.login_banner{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 475px;
    background: #e93854;
}
.footer{
    padding-bottom: 30px;
    text-align: center;
}
.footer .links a{
    margin: 0 10px;
    color: #333;
    font-size: 12px;
}
.copyright{
    margin-top: 10px;
}
.login-box{
    width: 306px;
    padding: 20px;
}
.login-box .mt{
   height: 35px;
   display: block;
   width: 306px;
   overflow: visible;
}
.login-box .msg_wrap{
    min-height: 23px;
    margin-top: 5px;
    margin-bottom: 5px;
    height: auto!important;
}

.form_inner .fore{
    width: 304px;
    height: 40px;
    border: 1px solid #bdbdbd;
    position: relative;
    margin-bottom: 20px;
}
.fore .user_name{
    line-height: 18px;
    height: 18px;
    border: 0;
    padding: 10px 0 10px 50px;
    width: 254px;
    float: none;
    overflow: hidden;
    font-size: 14px;
    font-family: '\5b8b\4f53';
}
.fore .user_password{
    line-height: 18px;
    height: 18px;
    border: 0;
    padding: 10px 0 10px 50px;
    width: 254px;
    float: none;
    overflow: hidden;
    font-size: 14px;
    font-family: '\5b8b\4f53';
}